<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Ma BusinessCard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <img src="assets/header.png">
  </div>

  <div class="flex">
    <div class="border-blanc">
      <div class="border-black">
        <div class="image; image-box"  >
          <img *ngIf="businessCardData" [src]="businessCardData.imageUrl" [class]="imageClass + ' fit-image'"/>
          <img *ngIf="!businessCardData" [src]="image" alt="Image de remplacement" [class]="imageClass + ' fit-image'"/>
        </div>
      </div>
    </div>
  </div>

  <ion-card *ngIf="businessCardData" class="card" shape="round">
    <ion-row>
      <ion-col >
        <ion-label class="label">{{ businessCardData.nom }} {{ businessCardData.prenom }}</ion-label>
      </ion-col>
    </ion-row>  
     
     <ion-row>
       <ion-col class="col">
         <h4 style="text-align: center;">{{ businessCardData.poste }}</h4>
       </ion-col>
       <ion-col class="col">
         <h4 style="text-align: center;">{{ businessCardData.entreprise }}</h4>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col class="col2">
         <h4 class="ion-text-center">{{ businessCardData.localisation }}</h4>
       </ion-col>
     </ion-row>
  </ion-card>
  <ion-item class="item" color="dark" shape="round">
    <ion-icon slot="start" name="call-outline"></ion-icon>
    <ion-label class="ion-text-center">contact professionel</ion-label> 
  </ion-item>
  <br>
  <ion-item class="item" shape="round" color="dark">
    <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
    <ion-label class="ion-text-center"> Whatsapp</ion-label>
  </ion-item>
  <br>
  <ion-item class="item" shape="round" color="dark">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label class="ion-text-center">Adresse mail</ion-label>
  </ion-item>
  <br>
  <ion-item class="item" shape="round" color="dark">
    <ion-icon name="globe-outline" slot="start"></ion-icon>
    <ion-label class="ion-text-center">Site-web</ion-label>
  </ion-item>
</ion-content>
