

<ion-content [fullscreen]="true">
  <div class="header">
    <img src="assets/header.png">
  </div>

  <div class="flex">
    <div class="border-blanc">
      <div class="border-black">
        <div class="image; image-box"  >
          <img [src]="image2 || image" *ngIf="image2" [class]="imageClass + ' fit-image'"/>
        </div>
      </div>
      <input type="file" accept="image/*" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
      <ion-button class="ion-button" color="dark" (click)="openGallery()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-card class="card" shape="round">
    <ion-row>
      <ion-col class="col">
         <ion-input type="text" [(ngModel)]="nom" shape="round" label="Nom" label-placement="floating" fill="outline"></ion-input>
       </ion-col>
       <ion-col class="col">
         <ion-input type="text" [(ngModel)]="prenom" shape="round" label="Prenom" label-placement="floating" fill="outline"></ion-input>
       </ion-col>
     </ion-row>   
     
     <ion-row>
       <ion-col class="col">
         <ion-input type="text" [(ngModel)]="poste" shape="round" label="Poste" label-placement="floating" fill="outline"></ion-input>
       </ion-col>
       <ion-col class="col">
         <ion-input type="text" [(ngModel)]="entreprise" shape="round" label="Entreprise" label-placement="floating" fill="outline"></ion-input>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col class="col">
         <ion-input type="text" [(ngModel)]="localisation" shape="round" label="Localisation" label-placement="floating" fill="outline"></ion-input>
       </ion-col>
     </ion-row>
  </ion-card>
    <ion-item class="item" shape="round">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input type="number" [(ngModel)]="telephone" class="ion-text-center"></ion-input> 
    </ion-item>
    <br>
    <ion-item class="item" shape="round">
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
      <ion-input type="number" [(ngModel)]="whatsapp" class="ion-text-center"></ion-input>
    </ion-item>
    <br>
    <ion-item class="item" shape="round">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" [(ngModel)]="mail" class="ion-text-center"></ion-input>
    </ion-item>
    <br>
    <ion-item class="item" shape="round">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-input type="url" [(ngModel)]="site" class="ion-text-center"></ion-input>
    </ion-item>
    <br>
    <ion-button class="item" class="round" (click)="addUserAndGenerateQR()">Générer le QR Code</ion-button>
    <br>
    <div class="overlay" *ngIf="loading">
      <div class="loader" class="dot-spinner">
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
      </div>
    </div>
    <img class="code" *ngIf="qrCodeImageUrl" [src]="qrCodeImageUrl" alt="QR Code">
</ion-content>
