<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      VirtualCards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header"></div>

  <div class="flex">
    <div class="border-blanc">
      <div class="border-black">
        <img [src]="image"/>
      </div>
    </div>
  </div>


    <ion-row>
      <ion-col>
        <ion-input type="text" [(ngModel)]="nom" shape="round" label="Nom" label-placement="floating" fill="outline"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" [(ngModel)]="prenom" shape="round" label="Prenom" label-placement="floating" fill="outline"></ion-input>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-input type="text" [(ngModel)]="poste" shape="round" label="Poste" label-placement="floating" fill="outline"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" [(ngModel)]="entreprise" shape="round" label="Entreprise" label-placement="floating" fill="outline"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" [(ngModel)]="localisation" shape="round" label="Localisation" label-placement="floating" fill="outline"></ion-input>
      </ion-col>
    </ion-row>
    <br>
    <div>
      <br>
      <ion-button expand="block" shape="round" color="dark">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        Contact professionel
      </ion-button>
      <br>
      <ion-button expand="block" shape="round" color="success">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        Whatsapp
      </ion-button>
      <br>
      <ion-button expand="block" shape="round" color="danger">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        Boîte-mail
      </ion-button>
      <br>
      <ion-button expand="block" shape="round" color="dark" fill="outline">
        <ion-icon name="globe-outline" slot="start"></ion-icon>
        Site-web
      </ion-button>
      <br>
      <ion-button expand="block" shape="round" (click)="generateQR()">Générer le QR Code</ion-button>
    </div>


</ion-content>
