ion-content{
  --background: url('../../assets/14.jpg') no-repeat center center  / cover fixed;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.code {
  left: 50%;
    position: relative;
    transform: translate(-50%);
}

.round {
  position: absolute;
  left: 50%;;
  transform: translate(-50%, -100%);
}

.flex {
  margin-top: -80px;
  display: flex;
  justify-content: center;
}

.border-blanc {
  position: relative;
  border: 6px solid white;
  border-radius: 50%;
}

.border-black {
  position: relative;
  border: 6px solid black;
  border-radius: 50%;
}

.image-box {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  color: black;
}

.fit-image {
  width: 150px;
  height: 150px;
  object-fit: cover; /* Ajuste l'image pour remplir entièrement son conteneur sans déformation */
}

.image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.header {
  background-color: #f0f0f0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 12.9rem;
  width: 20rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}

.item {
  left: 50%;;
    top: -60px;
    height: 3rem;
    width: 19rem;
    position: relative;
    transform: translate(-50%, 0%);
    --border-radius: 10px;
}

.col {
  color: #f0f0f0;
  bottom: -90px;
}

.card {
  z-index: -1;
  top: 0%;
  background-color: #12353f;
  position: relative;
  left: 50%;
  transform: translate(-52.5%, -25%);
  width: 20rem;
  height: 20rem;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.ion-button {
  position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  /* Styles pour le loader */
}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

